<%= form_with(model: stay, class: "contents") do |form| %>
  <% if stay.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(stay.errors.count, "error") %> prohibited this stay from being saved:</h2>

      <ul>
        <% stay.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label :image_url, class: "form-label" %>
    <%= form.text_field :image_url, class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label :description, class: "form-label" %>
    <%= form.rich_text_area :description, class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label :max_persons, class: "form-label" %>
    <%= form.number_field :max_persons, class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label :pet_friendly, class: "form-label" %>
    <%= form.check_box :pet_friendly, class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label :bedrooms, class: "form-label" %>
    <%= form.number_field :bedrooms, class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label :bathrooms, class: "form-label" %>
    <%= form.number_field :bathrooms, class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label :area, class: "form-label" %>
    <%= form.text_field :area, class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label :price, class: "form-label" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
