<div id="<%= dom_id stay %>">
  <h1 class="text-3xl font-bold mb-3"> <%= stay.name %> </h1>
  <% if !stay.enabled %>
    <h1 class="text-xl font-bold mb-3"> <%= user_signed_in? ? "This stay is disabled. This will prevent the stay from showing up in search results." : "This stay is curently not taking reservations." %> </h1>
  <% end %>
  <p class="my-5">
    <%= image_tag stay.image_url %>
  </p>

  <p class="my-5">
    <b class="font-medium mb-1"> Address: </b> <i class="font-medium mb-1"> <%= stay.address %></i>
  </p>

  <div class="flex flex-auto my-5">
    <div class="md:w-3/4">
      <p class="my-5">
        <%= stay.description %>
      </p>
    </div>

    <div class="md:w-1/4 text-right place-items-center">
      <table class="md:table-auto">
        <tr>
          <td>
            <b class="font-medium mb-1">Max persons: </b>
          </td>
          <td>
            <p> <%= stay.max_persons %> </p>
          </td>
        </tr>

        <tr>
          <td>
            <b class="font-medium mb-1">Pet friendly: </b>
          </td>
          <td>
            <p class="my-2"> <%= stay.pet_friendly ? "Yes" : "No" %> </p>
          </td>
        </tr>

        <tr>
          <td>
              <b class="font-medium mb-1">Bedrooms: </b>
          </td>
          <td>
            <p class="my-2"> <%= stay.bedrooms %> </p>
          </td>
        </tr>

        <tr>
          <td>
              <b class="font-medium mb-1">Bathrooms: </b>
          </td>
          <td>
            <p class="my-2"> <%= stay.bathrooms %> </p>
          </td>
        </tr>

        <tr>
          <td>
              <b class="font-medium mb-1">Area: </b>
          </td>
          <td>
            <p class="my-2"> <%= stay.area %> </p>
          </td>
        </tr>

        <tr>
          <td>
              <strong class="font-medium mb-1">Price per night:</strong>
          </td>
          <td>
            <p class="my-2"> <%= number_to_currency(stay.price, :unit => "€", :separator => ",", :delimiter => ".") %> </p>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
