<div id="<%= dom_id stay %>">
  <h1 class="text-center"> <%= stay.name %> </h1>
  <% if !stay.enabled %>
    <h5 class="note note-danger mb-3 text-center"> <%= user_signed_in? ? "This stay is disabled. This will prevent the stay from showing up in search results." : "This stay is curently not taking reservations." %> </h5>
  <% end %>
    <%= image_tag stay.image_url, class: "img-fluid h-50" %>

  <p class="my-5">
    <b class="font-medium mb-1"> Address: </b> <i class="font-medium mb-1"> <%= stay.address %></i>
  </p>

  <div class="grid">

      <p class="my-5">
        <%= stay.description %>
      </p>


    <div class="md:w-2/4 text-right place-items-center">
      <table class="table">
        <tr>
          <td>
            <b class="font-medium mb-1">Max persons: </b>
          </td>
          <td>
            <%= stay.max_persons %>
          </td>
        </tr>

        <tr>
          <td>
            <b class="font-medium mb-1">Pet friendly: </b>
          </td>
          <td>
            <p class="my-2"> <%= stay.pet_friendly ? "Yes" : "No" %> </p>
          </td>
        </tr>

        <tr>
          <td>
              <b class="font-medium mb-1">Bedrooms: </b>
          </td>
          <td>
            <p class="my-2"> <%= stay.bedrooms %> </p>
          </td>
        </tr>

        <tr>
          <td>
              <b class="font-medium mb-1">Bathrooms: </b>
          </td>
          <td>
            <p class="my-2"> <%= stay.bathrooms %> </p>
          </td>
        </tr>

        <tr>
          <td>
              <b class="font-medium mb-1">Area: </b>
          </td>
          <td>
            <p class="my-2"> <%= stay.area %> </p>
          </td>
        </tr>

        <tr>
          <td>
              <strong class="font-medium mb-1">Price per night:</strong>
          </td>
          <td>
            <p class="my-2"> <b> <%= number_to_currency(stay.price, :unit => "€", :separator => ",", :delimiter => ".") %> </p> </b>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
