<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Available vacation homes" %>

  <div class="flex justify-between items-center pb-8">
    <h1 class="mx-auto font-bold text-4xl">Available vacation homes</h1>
  </div>

  <% if @pagy.count > @pagy.items %>
    <div class="my-16">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>

  <table id="stays" class="mx-auto">
    <% if user_signed_in? %>
    <tfoot>
      <tr>
        <td colspan="3">
          <div class="mt-8">
            <%= link_to "New stay", new_stay_path, class: "inline rounded-lg py-3 px-5 bg-green-600 text-white block font-medium" %>
          </div>
        </td>
      </tr>
    </tfoot>
    <% end %>

    <tbody>
      <% @stays.each do |stay| %>
      <tr class="<%= cycle("bg-green-50", "bg-white") %>">
        <td class="px-4 py-4">
          <%= image_tag(stay.image_url, class: "w-42 m-2") %>
        </td>

        <td>
          <h1 class="text-xl font-bold m-2"><%= link_to stay.name, stay_path(stay, check_in: params[:check_in], check_out: params[:check_out]), class: "hover:underline" %></h1>
          <p class="m-2"> <i> <b>Address:</b> <%= stay.address %></i> </p>
          <p class="m-2"> <%= truncate(strip_tags(stay.description), length: 80) %> </p>
          <p class="m-2"> 
            <b><%= number_to_currency(stay.price, :unit => "€", :separator => ",", :delimiter => ".") %></b> per night
          </p>
        </td>

        <% if user_signed_in? %>
        <td class="px-3">
          <ul>
            <li>
              <%= link_to "Edit", edit_stay_path(stay), class: "hover:underline" %>
            </li>

            <li>
                <%= link_to "Destroy", stay, class: "hover:underline", data: { turbo_method: :delete,
                                                                                turbo_confirm: "Are you sure?" } %>
            </li>
          </ul>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

<% if @pagy.count > @pagy.items %>
  <div class="my-16">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
</div>
