<div class="w-100 d-flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 note note-success text-green-500 font-medium rounded-lg inline-block " id="notice"><%= notice %></p>
    <% end %>
    <%= render @stay %>
    <br/>
    <div class="d-flex justify-content-around gap-10" style="width: 100%">
      <% if @stay.enabled? %>
        <%= link_to "Book this stay", new_reservation_path(stay_id: @stay.id, check_in: params[:check_in], check_out: params[:check_out]), 
          class: "btn btn-primary" %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "Edit this stay", edit_stay_path(@stay), class: "btn btn-primary" %>
        <%= button_to "#{@stay.enabled? ? "Disable" : "Enable" } this stay", @stay.enabled? ? disable_stay_path(@stay) : enable_stay_path(@stay) , method: :put, class: "btn btn-primary" %>
      <% end %>
      <%= link_to "Back to all stays", stays_path, class: "btn btn-secondary" %>
    </div>
    <br/>
  </div>
</div>
