<%= form_with(model: reservation, class: "contents") do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= hidden_field_tag :stay_id, @stay.id %>
  </div>
  
  <div class="my-5 block">
    <%= form.label :name, "Enter your name", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  
  <div class="my-5 block">
    <%= form.label :email, "Enter your email", class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label :address, "Enter your address", class: "form-label" %>
    <%= form.text_area :address, rows: 4, class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label :check_in, class: "form-label" %>
    <%= form.date_field :check_in, min: Date.today, value: params[:check_in], class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label :check_out, class: "form-label" %>
    <%= form.date_field :check_out, min: Date.tomorrow, value: params[:check_out], class: "form-control" %>
  </div>

  <div data-controller="payment">
    <div class="my-5">
      <%= form.label :pay_type, class: "form-label" %>
      <%= form.select :pay_type, Reservation.pay_types.keys,
 	                      { prompt: 'Select a payment method' },
	                      'data-payment-target' => 'selection',
	                      'data-action' => 'payment#showAdditionalFields',
 	                      class: "form-control" %>
    </div>
    <%= render partial: 'ideal', locals: {form: form} %>
    <%= render partial: 'card', locals: {form: form} %>
    <%= render partial: 'ps', locals: {form: form} %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
