<%= form_with(model: reservation, class: "contents") do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% if @stay %>
  <div class="my-5">
    <%= hidden_field_tag :stay_id, @stay.id %>
  <%else %>
    <%= form.label :stay_id %>  
    <%= form.select :stay_id, options_for_select(@stays.collect { |stay| [stay.name, stay.id] }), { prompt: "Select a stay" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  <% end %>
  </div>
  
  <div class="my-5 block">
    <%= form.label :name, "Enter your name" %>
    <%= form.text_field :name, class: "shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 input-field" %>
  </div>
  
  <div class="my-5 block">
    <%= form.label :email, "Enter your email" %>
    <%= form.email_field :email, class: "input-field" %>
  </div>

  <div class="my-5">
    <%= form.label :address, "Enter your address" %>
    <%= form.text_area :address, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :check_in %>
    <%= form.date_field :check_in, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :check_out %>
    <%= form.date_field :check_out, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div data-controller="payment">
    <div class="my-5">
      <%= form.label :pay_type %>
      <%= form.select :pay_type, Reservation.pay_types.keys,
 	                      { prompt: 'Select a payment method' },
	                      'data-payment-target' => 'selection',
	                      'data-action' => 'payment#showAdditionalFields',
 	                      class: "input-field" %>
    </div>
    <%= render partial: 'ideal', locals: {form: form} %>
    <%= render partial: 'card', locals: {form: form} %>
    <%= render partial: 'ps', locals: {form: form} %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
