<div id="<%= dom_id reservation %>">
  <table class="table">
    <tr>
      <th>
        <strong class="block font-medium mb-1">Stay:</strong>
      </th>
      <td>
        <% if @stays %>
          <%= @stays[reservation.stay_id] %>
        <% elsif @stay %>
          <%= @stay.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <strong class="block font-medium mb-1">Customer Name:</strong>
      </td>
      <td>
        <%= reservation.name %>
      </td>
    </tr>
    <tr>
      <td>
        <strong class="block font-medium mb-1">Customer Address:</strong>
      </td>
      <td>
        <%= reservation.address %>
      </td>
    </tr>
    <tr>
      <td>
        <strong class="block font-medium mb-1">Customer Email:</strong>
      </td>
      <td>
        <%= reservation.email %>
      </td>
    </tr>
    <tr>
      <td>
        <strong class="block font-medium mb-1">Check in:</strong>
      </td>
      <td>
        <%= reservation.check_in %>
      </td>
    </tr>
    <tr>
      <td>
        <strong class="block font-medium mb-1">Check out:</strong>
      </td>
      <td>
        <%= reservation.check_out %>
      </td>
    </tr>
    <tr>
      <td>
        <strong class="block font-medium mb-1">Amount:</strong>
      </td>
      <td>
        <%= reservation.total_amount %>
      </td>
    </tr>
    <tr>
      <td>
        <strong class="block font-medium mb-1">Status:</strong>
      </td>
      <td>
        <%= reservation.status %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to "Download receipt", generate_receipt_path(reservation), class: "btn btn-primary" %>
      </td>
    </tr>
    </table>
</div>
