<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 note note-success text-green-500 font-medium rounded-lg inline-block " id="notice"><%= notice %></p>
    <% end %>

    <%= render @reservation %>

    <table class="table">
    <% if !@reservation.cancelled? && !@reservation.checked_out? %>
      <% if user_signed_in? %>
        <tr>
          <td colspan="2">
            <%= link_to "Edit this reservation", edit_reservation_path(@reservation), class: "btn btn-primary" %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= link_to "Back to reservations", reservations_path, class: "btn btn-secondary" %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2">
          <%= button_to "Cancel this reservation", @reservation, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
  </div>
</div>
